details {
    box-sizing: border-box;
    

}

summary{
    
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    font-weight: 700;
    

}

summary:hover {
    opacity: 0.5 ;
    
}
details > summary {

    list-style-type:'👉' ;
    
}